.section {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid black;
  border-radius: 12px;
  padding: 1rem;
}

.input {
  padding: 0.5rem;
  border-radius: 12px;
  border: none;
  background-color: #ced4da;

  &::placeholder {
    color: black;
  }
}
