*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #333;
  --light: #fff;
  --border-clr: var(--dark);
}

.dark-mode {
  background-color: var(--dark);
  color: var(--light);
  --border-clr: var(--light);

  .light-on {
    display: none;
  }

  .light-off {
    display: inline-block;
  }

  .item img {
    filter: invert(1) hue-rotate(180deg);
  }
}

.light-off {
  display: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: monospace;
  background-color: var(--light);
  color: var(--dark);
  transition: background-color 0.3s, color 0.3s;
}

main {
  width: 600px;
  border: 2px solid var(--border-clr);
  border-radius: 1rem;

  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 4rem;

    .new-task {
      display: flex;
      position: relative;

      input {
        width: 100%;
        padding: 0.5rem 2.5rem 0.5rem 0.5rem;
        border-radius: 12px;
        letter-spacing: 1px;
        font-size: 1rem;
        border: 2px solid var(--border-clr);
      }

      button {
        height: calc(100% - 8px);
        width: 32px;
        border: none;
        position: absolute;
        top: 4px;
        right: 4px;
        border-radius: 12px;
        overflow: hidden;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 50%;
  overflow: hidden;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      background-color: gold;
    }
  }

  img {
    padding: 0.5rem;
    height: 50px;
    width: 50px;
  }
}

.tasks {
  .item {
    display: flex;
    align-items: center;
    padding: 4px 0;

    input {
      appearance: none;
      flex-shrink: 0;
      border: 2px solid black;
      border-radius: 4px;
      height: 16px;
      width: 16px;
      margin-inline-end: 0.5rem;
      border-color: var(--border-clr);

      &:hover {
        cursor: pointer;
      }

      &:checked {
        background-color: var(--border-clr);
      }

      &:checked + label {
        text-decoration: line-through;
      }
    }

    label {
      font-size: 1.2rem;
    }

    img {
      margin-inline-start: auto;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .item:not(:last-child) {
    border-bottom: 1px solid gainsboro;
  }
}
