.task {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;

  label {
    font-size: 1rem;
  }

  &:not(:last-child) {
    border-bottom: 2px solid gray;
  }
}

.input {
  margin-right: 0.5rem;

  &:checked + label {
    text-decoration: line-through;
    opacity: 0.4;
  }
}

.button {
  height: 25px;
  width: 25px;
  flex-shrink: 0;
  background-color: transparent;
  margin-left: auto;

  border: 2px solid red;
  border-radius: 50%;
  padding: 0.25rem;

  &:hover {
    cursor: pointer;
  }
}
