.task {
  display: flex;
  align-items: center;
  padding: 0.25rem 0;

  &:not(:last-child) {
    border-bottom: 2px solid gray;
  }

  label {
    padding-right: 0.5rem;
  }
}

.input {
  margin-right: 0.5rem;
}

.button {
  background-color: transparent;
  margin-left: auto;

  border: 2px solid red;
  border-radius: 50%;
  padding: 0.25rem;

  &:hover {
    cursor: pointer;
  }
}
